.jeet{
display: inline-block;
/* border: 1px solid red; */
color: black;
background-color:rgb(221, 212, 212);
padding: 10px;
/* text-align: center; */
border-radius: 10px;
/* margin: 10px; */
width: 500px;
height: 400px;

}

/* img{
    border-radius: 5px;
    background-color:none;
} */

.outer{
    /* display: flex; */

background-color: white;
color: black;
border: 1px solid black;
height: 100vh;
width: 100vw;

padding: 30px;



}


h1{
    display: inline;
}

.inner{
    display: flex;
}


.box{
    display: flex;
    justify-content: space-around;
}

button{
    background-color: blue;
    color: white;
    width: 200px;
}