*{
    margin: 0;
    padding: 0;
}

.spic img{
    border-radius: 15px;
}
.innerbox{
display: inline-block;
/* border: 1px solid red; */
color: black;
/* background-color:rgb(221, 212, 212); */
padding: 10px;
/* text-align: center; */
border-radius: 10px;
/* margin: 10px; */
width: 500px;
height: 300px;

}

/* img{
    border-radius: 5px;
    background-color:none;
} */
.barcode{
    margin-right: 20px;
}
.outer{
   
margin: 120px;
background-color: white;
color: black;
border: 1px solid black;
height: 400px;
width: 800px;

padding: 30px;
border-radius: 20px;



}

.header{
    display: flex;
    /* border: 1px solid red; */
    width: 450px;
    text-align: center;
    align-content: center;
}


h1{
    display: inline;
}

.inner{
    display:flex;
}


.box{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    background-color:rgb(171, 177, 165);
    height: 300px;
    width: 600px;
    border-radius: 10px;

}

button{
    background-color: blue;
    color: white;
    width: 240px;
    height: 40px;
    font-size: 15px;
}

