.jeet{
display: inline-block;
border: 1px solid black;

background-color:cadetblue;
padding: 10px;
text-align: center;
border-radius: 10px;
margin: 10px;
width: 500px;

}

img{
    border-radius: 50px;
}